{% load i18n %}
{% load widget_tweaks %}

    <div class="actions pull-left filter-bottom-margin">
        <div class=" form-inline">
            <label class="margin-r-5">Actions</label>
                <!--{% if field.label %}-->
                <!--    <label>-->
                <!--        {{ field.label }}-->
                <!--    </label>-->
                <!--{% endif %}    -->
            <div class="input-group margin-r-5">
                {% for field in action_form %}        
                        {{ field|add_class:"form-control" }}
                            {% if field.label %}
                        {% endif %}
                    
                {% endfor %}
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-default action_go" title="{% trans "Run the selected action" %}" name="index" value="{{ action_index|default:0 }}">{% trans "Go" %}</button>
                </div>    
            </div>
        
        {% if actions_selection_counter %}
            <span class="action-counter" data-actions-icnt="{{ cl.result_list|length }}">{{ selection_note }}</span>
            <!--{% if cl.result_count != cl.result_list|length %}-->
            <!--<span class="all">{{ selection_note_all }}</span>-->
            <!--<span class="question">-->
            <!--    <a href="#" title="{% trans "Click here to select the objects across all pages" %}">{% blocktrans with cl.result_count as total_count %}Select all {{ total_count }} {{ module_name }}{% endblocktrans %}</a>-->
            <!--</span>-->
            <!--<span class="clear">-->
            <!--    <a href="#">{% trans "Clear selection" %}</a>-->
            <!--</span>-->
            <!--{% endif %}-->
        {% endif %}
        </div>
    </div>


<script>
        //console.log("{{url_path}}");
        var action_name = "{{request.resolver_match.url_name}}";
        /*$('body').on('click','#action_go',function(){*/
        $('.action_go').click(function(e){
            e.preventDefault();

                var call = 'n';
                $('.action-select').each(function(){
                        if ($(this).is(':checked'))
                        {
                                call = 'y';
                        }
                });

                if (call == 'y')
                {
                        console.log("1");
                        if($(this).closest('.actions').find('select').val() == 'make_delete' || $(this).closest('.actions').find('select').val() == 'delete_selected')
                        {
                                console.log("2");

                                var geturl = $(this).attr('data-url');
                                var getid = $(this).attr('data-slug-id');
                                var t = $(this);
                                console.log(geturl, getid, t)
                                swal({
                                    title: 'Are you sure?',
                                    text: "You won't be able to revert this!",
                                    type: 'warning',
                                    showCancelButton: true,
                                    confirmButtonColor: '#d33',
                                    cancelButtonColor: '#00acd6',
                                    confirmButtonText: 'Yes, delete it!',
                                  }).then(function ()
                                  {
                                    $('#changelist-form').submit();
                                  }, function (dismiss) {

                                })
                        }
                        else{
                            $('#changelist-form').submit();
                        }
                        
                }
                else
                {
                    swal({
                        title: 'Please select atleast one record!',
                        text: " ",
                        type: 'warning',
                        <!--showCancelButton: true,-->
                        confirmButtonColor: '#d33',
                        cancelButtonColor: '#00acd6',
                        confirmButtonText: 'Cancel',
                      }).then(function ()
                      {
                        return false;
                      }, function (dismiss) {

                    })
                    return false;
                }
        });
</script>