<!DOCTYPE html>
{% load i18n static %}
{% load template_tag %}
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <!--<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />-->
        
        <!--CSS FILES-->
        {% include 'admin/css.html' %}
        {% block extrastyle %}{% endblock %}
        <style>
        #addon_set-empty { display:none; }
        #terminal_set-empty { display:none; }
        #serviceimage_set-empty { display:none; }
        #pricing_set-empty { display:none; }
        #corporateadmin_set-empty { display:none; }
        </style>
        {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
        
        <!-- jQuery 2.2.3 -->
        <script src="{% static 'admin/plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
        <!-- jQuery UI 1.11.4 -->
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        <script src="{% static 'front/js/jquery.validate.js' %}"></script>
        {% block extrahead %}{% endblock %}
        {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
    </head>
    
{% load i18n %}

<body class="hold-transition skin-blue sidebar-mini {% if request.GET|get_param_value:'_popup' %} sidebar-collapse {%endif%}  {% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}" data-admin-utc-offset="{% now "Z" %}">

    <div class="wrapper">
        {% if not request.GET|get_param_value:"_popup" %}
        {% include 'admin/header.html' %}

        {% include 'admin/sidebar.html' %}
        {% endif %}

        <div class="content-wrapper">


            {% block messages %}
                {% if messages %}
                    
                        {% for message in messages %}
                            <div class="col-xs-12">
                                <div {% if message.tags %} class="alert callout alert-{{ message.tags }} alert-dismissible" {% endif %}>
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    {{ message|capfirst }}
                                </div>
                            </div>
                        {% endfor %}
                    
                {% endif %}
            {% endblock messages %}
        
            <!-- Content -->
            <div id="content" class="{% block coltype %}colM{% endblock %}">
                {% block pretitle %}{% endblock %}
                <!--{#% block content_title %#}{#% if title %#}<h1>{{ title }}</h1>{#% endif %#}{#% endblock %#}-->
                {% block content %}
                {% block object-tools %}{% endblock %}
                {{ content }}
                {% endblock %}
                {% block sidebar %}{% endblock %}
                <br class="clear" />
            </div>
            <!-- END Content -->
        
            {% block footer %}<div id="footer"></div>{% endblock %}
        </div>
    </div>
    
    <!-- Container -->
    <div id="container">
        
    </div>
    <!-- END Container -->
    
    <!--SCRIPTS-->
    {% include 'admin/js.html' %}
    {% block extrascripts %}
    
    {% endblock %}
    <!--<script>$('#addon_set-empty').remove()</script>-->
</body>

</html>
