<!DOCTYPE html>
{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
    <head>
        <title>AIRSSIST | Login</title>
        {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}

        <link rel="stylesheet" href="{% static 'admin/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="{% static 'admin/dist/css/AdminLTE.min.css' %}">
        <link rel="stylesheet" href="{% static 'admin/dist/css/custom.css' %}">

        <link href="https://fonts.googleapis.com/css?family=Reem+Kufi" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'admin/dist/fonts/Avenir/themefonts.css' %}">

        <script type="text/javascript" src="{% static 'admin/plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'admin/plugins/jquery.validate.min.js' %}"></script>

    </head>

{% load i18n %}

<body class="hold-transition login-page">

    {% block messages %}
        {% if messages %}
             <ul class="messagelist">
                 {% for message in messages %}
                     <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                         {{ message|capfirst }}
                     </li>
                 {% endfor %}
             </ul>
         {% endif %}
     {% endblock messages %}



     {% block content %}
         {{ content }}
     {% endblock %}

</body>

</html>
