{% extends "admin/base.html" %}

{% block title %}{{ title }} | Airssist {% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Airssist') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
