{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}
<!--<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />-->
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<section class="content-header">
    <!--<h1>-->
    <!--    {{ title }}-->
    <!--</h1>-->
    <!--<ol class="breadcrumb">
        <li>
          <a href="{% url 'admin:index' %}"><i class="fa fa-dashboard"></i> {% trans 'Home' %} </a>
        </li>
        <li>
            <a href=" {% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name|capfirst }}</a>
        </li>
        {% if add or change.add %}
          <li class="active">
            Add {{ opts.verbose_name|capfirst }}
          </li>
        {% elif change %}
          <li class="active">
            Change {{ opts.verbose_name|capfirst }}
          </li>
        {% endif %}
    </ol>-->
</section>
{% endblock %}
{% endif %}


{% block content %}
<section class="content">
    <div class="box box-primary">
         <div class="box-header with-border">
            <h1 class="box-title">{{ title|title }}</h1>
        </div>
        
    
        {#% block object-tools %#}
            {% if change %}{% if not is_popup %}
              <ul class="object-tools">
                {% block object-tools-items %}
                <!--<li>-->
                    <!--{% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}-->
                    <!--<a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>-->
                <!--</li>-->
                {% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif %}
                {% endblock %}
              </ul>
            {% endif %}{% endif %}
        {#% endblock %#}

        <form class="form-horizontal" {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate>
            {% csrf_token %}
            {% block form_top %}{% endblock %}
            <div class="box-body">
                <div class="row">
                    <div class="col-md-8 col-lg-6">
                        {% if is_popup %}
                            <input type="hidden" name="{{ is_popup_var }}" value="1" />
                        {% endif %}
                        
                        {% if to_field %}
                            <input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}" />
                        {% endif %}
                        
                        {% if save_on_top %}
                            {% block submit_buttons_top %}{% submit_row %}{% endblock %}
                        {% endif %}
                        
                        {% block field_sets %}
                            {% for fieldset in adminform %}
                              {% include "admin/includes/fieldset.html" %}
                            {% endfor %}
                        {% endblock %}
                        
                        {% block after_field_sets %}{% endblock %}

                        {% block after_related_objects %}{% endblock %}
                    </div>
               </div>
                {% block inline_field_sets %}
                    {% for inline_admin_formset in inline_admin_formsets %}
                        {% include inline_admin_formset.opts.template %}
                    {% endfor %}
                {% endblock %}
            </div>
            
            <div class="box-footer">
                <div class="row">
                        {% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

                        {% block admin_change_form_document_ready %}
                            <script type="text/javascript"
                                    id="django-admin-form-add-constants"
                                    src="{% static 'admin/js/change_form.js' %}"
                                    {% if adminform and add %}
                                        data-model-name="{{ opts.model_name }}"
                                    {% endif %}>
                            </script>
                        {% endblock %}

                        {# JavaScript for prepopulated fields #}
                        {% prepopulated_fields_js %}
                </div>
            </div>

        </form>
    </div>
</section>
{% endblock %}

{% block extrascripts %}
<script>

</script>
{% endblock %}