{% load i18n static %}

{% if result_hidden_fields %}
    <div class="hiddenfields">{# DIV for HTML validation #}
        {% for item in result_hidden_fields %}{{ item }}{% endfor %}
    </div>
{% endif %}

<div class="clearfix"></div>
{% if results %}
    <div class="">
    <!--<div class="table-responsive">-->
        <table class="table" id="example1">
            <thead>
                <tr>
                    {% for header in result_headers %}                    
                        <th class='table-field-{{ header.text|lower }}' >
                           {#% if header.sortable %#}
                             {#% if header.sort_priority > 0 %#}
                               <div class="sortoptions">
                                 <a class="sortremove" href="{{ header.url_remove }}" title="{% trans "Remove from sorting" %}"></a>
                                    <!--{% if num_sorted_fields > 1 %}-->
                                    <!--<!--<span class="sortpriority" title="{% blocktrans with priority_number=header.sort_priority %}Sorting priority: {{ priority_number }}{% endblocktrans %}">{{ header.sort_priority }}</span>-->
                                    <!--{% endif %}-->
                                 <a href="{{ header.url_toggle }}" class="toggle {% if header.ascending %}ascending{% else %}descending{% endif %}" title="{% trans "Toggle sorting" %}"></a>
                               </div>
                             {#% endif %#}
                           {#% endif %#}
                           
                           {% if header.sortable %} <a style="text-decoration: none" href="{{ header.url_primary }}">{{ header.text|capfirst }}</a>{% else %}<span>{{ header.text|capfirst }}</span>{% endif %}
                           <span class="pull-right">{% if header.sortable %}{% if header.ascending %}{% else %}{% endif %}{% endif %}</span>

                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                    {% if result.form.non_field_errors %}
                        <tr>
                            <td colspan="{{ result|length }}">{{ result.form.non_field_errors }}</td>
                        </tr>
                    {% endif %}
                    <tr>{% for item in result %}{{ item }}{% endfor %}</tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endif %}
