{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list %}
{% load template_tag %}

{% block extrastyle %}
  {{ block.super }}
  <!--<link rel="stylesheet" type="text/css" href="{#% static "admin/css/changelists.css" %#}" />-->
  {% if cl.formset %}
    <!--<link rel="stylesheet" type="text/css" href="{#% static "admin/css/forms.css" %#}" />-->
  {% endif %}
  
  {% if cl.formset or action_form %}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}
{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <!--<section class="content-header">
            <ol class="breadcrumb">
              <li>
                <a href="{% url 'admin:index' %}"><i class="fa fa-dashboard"></i> {% trans 'Home' %} </a>
              </li>
              <li class="active">{% if title %} {{ cl.opts.verbose_name|capfirst }} {% endif %}</li>
            </ol>
        </section>-->
    {% endblock %}
{% endif %}

{#% block coltype %#}flex{#% endblock %#}

{% block content %}

<section class="content">
      <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary" id="content-main">
              <div class="box-header with-border">
                <h1 class="box-title">{{ title }}</h1>
                <div class="box-tools">
                  {% block object-tools %}
                        {% block object-tools-items %}
                          {% if has_add_permission %}
                            {% if request.resolver_match.url_name != "booking_booking_changelist" and request.resolver_match.url_name != "cms_contactus_changelist" %}
                            {% url cl.opts|admin_urlname:'add' as add_url %}
                            <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink btn btn-primary pull-right margin-r-5">
                              <i class="btn-icon fa fa-plus"></i> {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
                            </a>
                            {% endif %}
                          {% endif %}
                        {% endblock %}
                  {% endblock %}
                  
                </div>
              </div>
              <div class="box-body">
                {% if cl.formset.errors %}
                    <p class="errornote">
                      {% if cl.formset.total_error_count == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
                    </p>
                    {{ cl.formset.non_form_errors }}
                {% endif %}
                <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
                  
                  {% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}

                    <!-- ----------------------------------------------------------------------------------------- -->
                    <!-- This is for custom import export section -->
                    {% if import_function  %}{% admin_import %}{% endif %}
                    <!-- This is for custom import export section -->

                    <!-- ----------------------------------------------------------------------------------------- -->

                    <!--<p class="help-block pull-right">Example block-level help text here.</p>-->

                  {% block search %}{% search_form cl %}{% endblock %} 
                  <form id="changelist-form" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %} novalidate>{% csrf_token %}
                    {% block filters %}
                        {% if cl.has_filters %}
                          <div id="changelist-filter" class="pull-right margin-r-10 dropdown filter-bottom-margin">
                            <button id="changelist-filter-dd" class="btn btn-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                              {% trans 'Filters' %} <b class="caret margin-l-5"></b>
                            </button>
                            <ul class="dropdown-menu" style="max-height: 300px;  overflow-x: hidden;" aria-labelledby="changelist-filter-dd">
                              {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
                            </ul>
                          </div>
                          
                        {% endif %}
                      {% endblock %}
                    {% if cl.formset %}
                    <div>{{ cl.formset.management_form }}</div>
                  {% endif %}

                  {% block result_list %}
                      {% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}
                      {% result_list cl %}
                      {% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}
                  {% endblock %}
                  {% block pagination %}{% pagination cl %}{% endblock %}
                  </form>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>

<script>

$(document).on('click', '.dropdown-menu', function (e) {
  e.stopPropagation();
});

setTimeout(function(){
    $('.callout').slideUp();
},3000);

<!--if (($("input[name*='_selected_action']:checked").length)<=0){-->
        <!--alert();-->
        <!--flag=false;-->
    <!--}-->
</script>

{% endblock %}
