{% load static %}

<!-- Bootstrap 3.3.6 -->
<link rel="stylesheet" href="{% static 'admin/bootstrap/css/bootstrap.min.css' %}">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{% static 'front/dist/img/favicon.ico' %}">

<!-- iCheck -->
<link rel="stylesheet" href="{% static 'admin/plugins/iCheck/flat/blue.css' %}">
<!-- Morris chart -->
<link rel="stylesheet" href="{% static 'admin/plugins/morris/morris.css' %}">
<!-- jvectormap -->
<link rel="stylesheet" href="{% static 'admin/plugins/jvectormap/jquery-jvectormap-1.2.2.css' %}">
<!-- Date Picker -->
<link rel="stylesheet" href="{% static 'admin/plugins/datepicker/datepicker3.css' %}">
<!-- Daterange picker -->
<link rel="stylesheet" href="{% static 'admin/plugins/daterangepicker/daterangepicker.css' %}">
<!-- bootstrap wysihtml5 - text editor -->
<link rel="stylesheet" href="{% static 'admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css' %}">

<!-- DataTables -->
<link rel="stylesheet" href="{% static 'admin/plugins/datatables/dataTables.bootstrap.css' %}">
  
<!--CHECKBOX-->
<link rel="stylesheet" href="{% static 'admin/plugins/iCheck/all.css' %}">
<!-- Bootstrap Color Picker -->
<link rel="stylesheet" href="{% static 'admin/plugins/colorpicker/bootstrap-colorpicker.min.css' %}">
<!-- Bootstrap time Picker -->
<link rel="stylesheet" href="{% static 'admin/plugins/timepicker/bootstrap-timepicker.min.css' %}">
<!-- Select2 -->
<link rel="stylesheet" href="{% static 'admin/plugins/select2/select2.min.css' %}">

<!-- Theme style -->
<link rel="stylesheet" href="{% static 'admin/dist/css/AdminLTE.min.css' %}">


<!-- AdminLTE Skins. Choose a skin from the css/skins
     folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" href="{% static 'admin/dist/css/skins/_all-skins.min.css' %}">

<!--sweet alert-->
<link rel="stylesheet" href="{% static 'admin/dist/css/sweetalert2.min.css' %}">

<link rel="stylesheet" href="{% static 'admin/dist/css/bootstrap-fileinput.css' %}">    

<link href="https://fonts.googleapis.com/css?family=Reem+Kufi" rel="stylesheet">
<link rel="stylesheet" href="{% static 'admin/dist/fonts/Avenir/themefonts.css' %}">    
<link rel="stylesheet" href="{% static 'admin/dist/css/custom.css' %}">