{% load static %}
<header class="main-header">
    <!-- Logo -->
    <a href="{% url 'admin:index' %}" class="logo">
        <!--<span class="logo-lg"><img src="http://cdn.pcwallart.com/images/counter-strike-logo-design-wallpaper-2.jpg" alt="Logo" height="60" width="180"/></span>-->
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini "><b>P</b> D</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Python</b> Django</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">

            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
                {% if admin_contactus %}
                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope-o"></i>
                        <span class="label label-success">{{admin_contactus_count}}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have {{admin_contactus_count}} messages</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                <!-- start message -->
                                {% for notification in admin_contactus %}
                                <li>
                                    <a href="/admin/cms/contactus/view/{{notification.id}}/">
                                        <div class="pull-left">
                                            <!--<img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">-->
                                            <i class="fa fa-users text-aqua"></i>
                                        </div>
                                        <h4>
                                            {{notification.type}}
                                            <!--<small><i class="fa fa-clock-o"></i> 5 mins</small>-->
                                        </h4>
                                        <p>{{notification.user}}</p>
                                        <p>{{notification.email}}</p>
                                    </a>
                                </li>
                                {% endfor %}
                                <!-- end message -->

                            </ul>
                        </li>
                        <li class="footer"><a href="{% url 'admin:cms_contactus_changelist' %}">See All Messages</a></li>
                    </ul>
                </li>
                {% endif %}

                <!-- Notifications: style can be found in dropdown.less -->
                {% if admin_notifications %}
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="label label-warning">{{admin_notifications_count}}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have {{admin_notifications_count}} notifications</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                {% for notification in admin_notifications %}
                                <li>
                                    <a href="{{notification.href}}">
                                        <i class="{{notification.icon_cls}}"></i> {{notification.message}}
                                    </a>
                                </li>
                                {% endfor  %}
                            </ul>
                        </li>
                        <li class="footer"><a href="#">View all</a></li>
                    </ul>
                </li>
                {% endif %}

                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{% static 'admin/dist/img/user2-160x160.jpg' %}" class="user-image" alt="User Image">
                        <span class="hidden-xs">{% firstof user.get_short_name user.get_username|capfirst %}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="{% static 'admin/dist/img/user2-160x160.jpg' %}" class="img-circle"
                                 alt="User Image">

                            <p>
                                {% firstof user.get_short_name user.get_username|capfirst %}
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <li class="user-body">
                            <div class="row">
                                <!-- <div class="col-xs-4 text-center">
                                   <a class="btn btn-sm btn-default btn-flat" href="#">Profile</a>
                                 </div>-->
                                <div class="col-xs-6 text-center">
                                    <a class="btn btn-sm btn-default btn-flat" href="{% url 'admin:password_change' %}">Password</a>
                                </div>
                                <div class="col-xs-6 text-center">
                                    <a class="btn btn-sm btn-default btn-flat"
                                       href="{% url 'admin:logout' %}?next=/admin/">Sign Out</a>
                                </div>
                            </div>
                            <!-- /.row -->
                        </li>
                        <!-- Menu Footer-->
                        <!--<li class="user-footer">-->
                        <!--  <div class="pull-left">-->
                        <!--    <a href="#" class="btn btn-default btn-flat">Profile</a>-->
                        <!--  </div>-->
                        <!--  <div class="pull-right">-->
                        <!--    <a href="#" class="btn btn-default btn-flat">Sign out</a>-->
                        <!--  </div>-->
                        <!--</li>-->
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
  