{% load static %}

<form action="upload-xlsx/" id="upload-file-form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <!--<label class="control-label col-md-3">Select file</label>-->
    <div class="fileinput-new" data-provides="fileinput">
        <div class="form-group">
            <div class="pull-left" style="display: none;">
                <label for="input_file">File input</label>
                <input type="file" id="input_file" name="import_file">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="fileinput-new" data-provides="fileinput">
                        <div class="input-group input-large">
                            <div class="form-control" data-trigger="fileinput">
                                <i class="fa fa-file"></i>&nbsp;
                                <span class="fileinput-filename"></span>
                            </div>
                            <span class="input-group-btn">
                                <a href="javascript:;" class="btn btn-default fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i></a>   
                                <div class="btn btn-default2 btn-file">
                                    <span class="fileinput-new">Browse</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="hidden" value="" name="..."><input type="file" id="input_file" name="import_file">
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <a href="{{import_sample_file}}" class="btn btn-default-border margin-r-10"> Download Example XLSX </a>
                    <button type="submit" class="btn btn-primary file-input-exists"> Import Zipcode XLSX</button>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</form>
