{% extends "admin/base_site.html" %}
{% load i18n static %}
{% load template_tag %}

<title>{% block title %}AIRSSIST | Dashboard{% endblock %}</title>
{% block extrascripts %}
    <!-- Morris.js charts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="{% static 'admin/plugins/morris/morris.min.js' %}"></script>
    
    <script src="{% static 'admin/dist/js/pages/dashboard.js' %}"></script>
    <!--<script src="{% static 'admin/plugins/chartjs/Chart.min.js' %}"></script>-->
    <!--<script src="{% static 'admin/dist/js/pages/dashboard2.js' %}"></script>-->
    <script src="{% static 'admin/dist/js/cust_index.js' %}"></script>    
{% endblock %}


{% block content %}
<section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3 class="booking">{{ booking_count|model_count:"users" }}</h3>

              <p>Users</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a href="{% url 'admin:users_user_changelist' %}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->

</section>

{% endblock %}
