{% load static %}

<!-- jQuery 2.2.3 -->
<!--<script src="{% static 'admin/plugins/jQuery/jquery-2.2.3.min.js' %}"></script>-->
<!-- jQuery UI 1.11.4 -->
<!--<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>-->
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.6 -->
<script src="{% static 'admin/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- Sparkline -->
<script src="{% static 'admin/plugins/sparkline/jquery.sparkline.min.js' %}"></script>
<!-- jvectormap -->
<script src="{% static 'admin/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
<script src="{% static 'admin/plugins/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
<!-- jQuery Knob Chart -->
<script src="{% static 'admin/plugins/knob/jquery.knob.js' %}"></script>
<!-- daterangepicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script src="{% static 'admin/plugins/daterangepicker/daterangepicker.js' %}"></script>
<!-- datepicker -->
<script src="{% static 'admin/plugins/datepicker/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'admin/plugins/timepicker/bootstrap-timepicker.min.js' %}"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="{% static 'admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js' %}"></script>
<!-- Slimscroll -->
<script src="{% static 'admin/plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'admin/plugins/fastclick/fastclick.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'admin/dist/js/app.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'admin/dist/js/demo.js' %}"></script>
<script src="{% static 'admin/dist/js/custom.js' %}"></script>

<script src="{% static 'admin/dist/js/bootstrap-fileinput.js' %}"></script>
<!--sweet alert-->
<script src="{% static 'admin/dist/js/sweetalert2.min.js' %}"></script>

<script>
     //Date picker
    $('.datepicker').datepicker({
      autoclose: true,
      <!--format: 'dd/mm/yyyy',-->
      startDate: '01/01/2010',
      endDate: '01/01/2099'
    });
    //Timepicker
    $("#id_office_from").timepicker({
      showInputs: false,
      showMeridian: false,
      use24hours: true,
       format : 'HH:mm'
    });

</script>