{% extends "admin/base_login.html" %}
{% load i18n static %}
{% block content %}
    <div class="login-box">
      <div class="login-logo">
        <!--Airssist-->
        <img src="{% static 'front/dist/img/logo.png' %}" alt="Logo" />
      </div>

    {% if form.errors and not form.non_field_errors %}
    <p class="login-box-msg">
        {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
  {% endif %}
  
    <div class="login-box-body">
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
        {% endfor %}
        {% endif %}
        {% if user.is_authenticated %}
            <div class="alert alert-danger">
            {% blocktrans trimmed %}
                You are authenticated as {{ username }}, but are not authorized to
                access this page. Would you like to login to a different account?
            {% endblocktrans %}
            </div>
        {% endif %}
        
        <p class="login-box-msg">Sign in to start your session</p>

        <form action="{{ app_path }}" method="post" id="login-form">
            {% csrf_token %}
            <div class="form-group has-feedback">
                <input class="form-control" autofocus="" id="id_username" maxlength="254" name="username" type="text"  placeholder="Username">
                <span class="glyphicon glyphicon-user form-control-feedback" id="u_name"></span>
            </div>
            <div class="form-group has-feedback">
                <input class="form-control" id="id_password" name="password" type="password"  placeholder="Password">
                <span class="glyphicon glyphicon-lock form-control-feedback" id="pass"></span>
                <input type="hidden" name="next" value="{{ next }}" />
            </div>

                <div class="form-group">
                  <input class="btn btn-primary btn-block btn-flat btn-lg" type="submit" value="{% trans 'Log in' %}" />
                </div>
                {% url 'admin_password_reset' as password_reset_url %}
                {% if password_reset_url %}
                    <div class="password-reset-link text-center">
                      <a class="text-muted" href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
                    </div>
                {% endif %}

        </form>
    </div>
    <script type="text/javascript" src="{% static 'admin/dist/js/pages/login.js' %}"></script>
{% endblock %}
