{% load i18n static %}
<div class="related-widget-wrapper input-group">

    {{ widget }}
    
    <span class="input-group-btn">

    {% block links %}
        {% if can_change_related %}

        <a class="related-widget-wrapper-link change-related btn btn-default" id="change_id_{{ name }}"
            data-href-template="{{ change_related_template_url }}?{{ url_params }}"
            title="{% blocktrans %}Change selected {{ model }}{% endblocktrans %}">
                    <i class="fa fa-pencil"></i>
        </a>     
        {% endif %}
        {% if can_add_related %}

        <a class="related-widget-wrapper-link add-related btn btn-black" id="add_id_{{ name }}"
            href="{{ add_related_url }}?{{ url_params }}"
            title="{% blocktrans %}Add another {{ model }}{% endblocktrans %}">
            <i class="fa fa-plus"></i>
        </a>

        {% endif %}
        {% if can_delete_related %}
        <a class="related-widget-wrapper-link delete-related btn btn-default" id="delete_id_{{ name }}"
            data-href-template="{{ delete_related_template_url }}?{{ url_params }}"
            title="{% blocktrans %}Delete selected {{ model }}{% endblocktrans %}">
            <i class="fa fa-trash-o"></i>
        </a>
        {% endif %}
    {% endblock %} 

    </span>       
</div>
