{% load i18n static %}
{% if cl.search_fields %}
<div class="pull-right filter-bottom-margin" id="toolbar">
    <form id="changelist-search" method="get">
        <div class="input-group" style="width: 250px;float: right;">
            <!-- DIV needed for valid HTML -->
            <!--<label for="searchbar"><img src="{% static "admin/img/search.svg" %}" alt="Search" /></label>-->
            <input type="text" size="40" class="form-control pull-right" name="{{ search_var }}" value="{{ cl.query }}" id="searchbar" placeholder="Search" autofocus />
            <div class="input-group-btn">
                <button class="btn btn-default submitsearch" type="submit" value="{% trans 'Search' %}"><i class="fa fa-search"></i></button>
            </div>
        </div>
        {% if show_result_count %}
        <!--<span class="small quiet" style="float: left;margin: 10px;">{% blocktrans count counter=cl.result_count %}{{ counter }} result{% plural %}{{ counter }} results{% endblocktrans %} (<a href="?{% if cl.is_popup %}_popup=1{% endif %}">{% if cl.show_full_result_count %}{% blocktrans with full_result_count=cl.full_result_count %}{{ full_result_count }} total{% endblocktrans %}{% else %}{% trans "Show all" %}{% endif %}</a>)</span>-->
        {% endif %}
        {% for pair in cl.params.items %}
        {% if pair.0 != search_var %}<input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}"/>{% endif %}
        {% endfor %}
    </form>
    
    <script>
        $('.submitsearch').click(function(){
        var l = $('#searchbar').val().trim();
        if(l.length > 0)
        {
            return true;
        }else{
            return false;
        }
        });
        
    </script>
    </div>
{% endif %}