{% load static %}

<aside class="main-sidebar">
    <section class="sidebar">
        <!--<div class="user-panel">
            <div class="pull-left image">
                <img src="{% static 'admin/dist/img/user2-160x160.jpg' %}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{% firstof user.get_short_name user.get_username|capfirst %}</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>-->

        <ul class="sidebar-menu">
            <!--<li class="header">Select Modules</li>-->
            <li>
                <a class="sidemenu" href="{% url 'admin:index' %}"><i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li>
                <a class="sidemenu" href="{% url 'admin:users_user_changelist' %}"><i class="fa fa-user"></i>
                    <span>Users</span></a>
            </li>

        </ul>
    </section>
</aside>

<script type="text/javascript">
    $('.sidemenu').each(function(i, obj) {
        var a = $(obj).attr('href');
        var b = '{{ request.get_full_path }}';
        
        //console.log(a,b);
        if (a=='/admin/'){
            if (b=='/admin/'){
                $(obj).parent('li').addClass('active')
            }
        }
        else if (b.startsWith(a)) {
            $(obj).parent('li').addClass('active')
            $(obj).closest('.treeview').addClass('active')
        }else{
            $(obj).parent('li').removeClass('active')
        }
    });

</script>