{% load i18n admin_urls %}
{% load template_tag %}

<div class="col-md-8 col-lg-6">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-4">
            {% if show_save %}
                <input class="btn btn-primary" type="submit" value="{% trans 'Submit' %}" class="default" name="_save" />
            {% endif %}
            {% if not request.GET|get_param_value:'_popup' %}
            <a href="{{ request.META.PATH_INFO|remove_last_value }}" class="btn btn-default">Cancel</a>
            {% else %}
            <a href="javascript::void(0)" onclick="window.close();" class="btn btn-default">Cancel</a>
            {% endif %}
            {% if show_delete_link %}
                {#% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %#}
                <!--<p class="deletelink-box"><a href="{% add_preserved_filters delete_url %}" class="deletelink btn btn-danger">{% trans "Delete" %}</a></p>-->
            {% endif %}
            {#% if show_save_as_new %#}
                <!--<input type="submit" value="{% trans 'Save as new' %}" name="_saveasnew" />-->
            {#% endif %#}
            
            {#% if show_save_and_add_another %#}
                <!--<input class="btn btn-primary" type="submit" value="{% trans 'Save and add another' %}" name="_addanother" />-->
            {#% endif %#}
            
            {#% if show_save_and_continue %#}
                <!--<input class="btn btn-warning" type="submit" value="{% trans 'Save and continue editing' %}" name="_continue" />-->
            {#% endif %#}
        </div>
    </div>
</div>