{% load widget_tweaks %}

<fieldset class="module aligned {{ fieldset.classes }}">
    {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
    {% if fieldset.description %}
        <div class="description">{{ fieldset.description|safe }}</div>
    {% endif %}
    {% for line in fieldset %}
        <!--<div class="form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% if not line.has_visible_field %} hidden{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">-->
           
            {% for field in line %}
                <!--<div{% if not line.fields|length_is:'1' %} class="field-box{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}{% if field.field.is_hidden %} hidden{% endif %}"{% elif field.is_checkbox %} class="checkbox-row"{% endif %}>-->
                <div class="form-group">
                    {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                    {% if field.is_checkbox %}
                        {{ field.field }}{{ field.label_tag }}
                    {% else %}
                        <!--{{ field.label_tag }}-->
                        <label for="id_{{field.field.name}}" class="col-sm-4 control-label">
                            {{ field.field.label }}
                        </label>
                        
                        {% if field.is_readonly %}
                            <div class="col-sm-8">
                                <p>{{ field.contents }}</p>
                                {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
                            </div>
                        {% else %}
                        <div class="col-sm-8">
                            {{ field.field|add_class:"form-control" }}
                            {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
                        </div>
                        {% endif %}
                    {% endif %}
                    {% if field.field.help_text %}
                        <p class="help">{{ field.field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
             
        <!--</div>-->
    {% endfor %}
</fieldset>