{% load i18n admin_urls static %}
{% load i18n admin_urls static admin_modify %}
{{ inline_admin_formset.formset.management_form }}
{{ inline_admin_formset.formset.non_form_errors }}
{% load widget_tweaks %}

{{fieldset}}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                
                <h3 class="box-title">Pricing</h3>
                <input type="hidden" class="max_hour" name="max_hour">
                <input type="hidden" class="max_person"  value="" name="max_person">
                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <!--<input type="text" name="table_search" class="form-control pull-right" placeholder="Search">-->

                        <div class="input-group-btn">
                            <button type="button" trow="trow" class="form-control pull-right" id="btnAddCol">Add Hours</button>
                        </div>
                        &nbsp;&nbsp;&nbsp;

                        <div class="input-group-btn">
                            <button type="button" class="form-control pull-right" id="btnAdd">Add Persons</button>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <div id="myform">
                    <table class="table table-hover" id="blacklistgrid">

                        <tr id="Row1">
                            <td class="space">&nbsp;</td>
                            <!--loop for the hours asc-->
                            <td>
                                <input type="text" name="hours-0" class="form-control" placeholder="Hours">
                            </td>
                            
                        </tr>
                        
                        <!--loop for the persons-->
                        <tr id="Row2">
                            <td>
                                <input type="text" name="person-0" class="form-control person"
                                       data-count="0" placeholder="person">
                            </td>
                            
                            <td>

                                <input type="text" name="price-0" class="form-control" placeholder="price">
                            </td>
                        </tr>
                        <!--end loop for for the persons-->

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</div>

<!--<form name="myform" id="myform">
    <table id="blacklistgrid">
        <tr id="Row1">
            <td class="space">&nbsp;</td>
            <td>
                  <input type="text" class="form-control" placeholder=".col-xs-3"></td>
        </tr>
        <tr id="Row2">
            <td>
                 <input type="text" class="form-control" placeholder="person">
            </td>
            <td>
              
                  <input type="text" class="form-control" placeholder="price">
              
            </td>
            
        </tr>
    </table>
    <button type="button" id="btnAdd">Add few more Rows!</button>
    </br>
    </br>
    <button type="button" id="btnAddCol">Add new column</button>
    </br>
    </br>
    <input type="submit"></input>-->
<script>
  $(document).ready(function () {
    function name_ele()
    {
         $("td").each(function() {
              
            var colIndex = $(this).parent().children().index($(this));
           var rowIndex = $(this).parent().parent().children().index($(this).parent());
           //alert('Row: ' + rowIndex + ', Column: ' + colIndex);
           
           if(rowIndex==0)
           {
              name = "hour-"+colIndex;
           }
           else if(rowIndex > 0 && colIndex==0)
           {
                name = "person-"+rowIndex;
           }else{
                name = "price-"+rowIndex+"-"+colIndex;
           }
           
             $(this).find(":input").attr('name',name);
             $('.max_hour').val(colIndex);
             $('.max_person').val(rowIndex);
           });
           
          
           
           
    }
  
        
  
     $('#btnAdd').click(function () {
     
       
       
     
     
     
     
             var count = 1,
             first_row = $('#Row2');
             var bnt = $('#blacklistgrid tr').length-1;
             first_row.each(function(){
             console.log(first_row);
             });
             //var newaddress= $("#addresses div.address").eq(0).clone();
             var newaddress= first_row.clone();
             var i=1;
        newaddress.find('input').each(function() {
        var suffix = this.name.match(/\d+/); // 123456
        console.log(suffix);
        //this.attr('data-count',bnt);
        this.name=  this.name.replace(suffix, bnt);
        
        name_ele();
    });
//$('#addresses').append(newaddress);

         //while (count-- > 0) console.log(first_row); first_row.clone().appendTo('#blacklistgrid');
         while (count-- > 0) console.log(first_row); newaddress.appendTo('#blacklistgrid');
          name_ele();
         
     });


     var myform = $('#blacklistgrid'),
         iter = 1;
     $('#btnAddCol').click(function () {
     
     
    
     
     
    
        var colCount = 0;
        $('tr:nth-child(1) td').each(function () {
            if ($(this).attr('colspan')) {
                colCount += +$(this).attr('colspan');
            } else {
                colCount++;
            }
        });
        var bnt = $('#blacklistgrid tr').length-1;
    colCount = colCount-1;
     
         myform.find('tr').each(function(){
           var trow = $(this);
     
             if(trow.index() === 0){
              
                 trow.append('<td><input type="text" name="pricing_set-'+colCount+'-hours" class="form-control" placeholder="hour"></td>');
             }else{
     
                 trow.append('<td><input type="text" name="'+bnt+'.'+colCount+'"class="form-control" placeholder="price"></td>');
             }
            
         });
         iter += 1;
         name_ele();
     });
 });

</script>
